<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail Verification</title>
    <link rel="stylesheet" href="./assets/dist/output.css">
</head>
<body class="box">
    <div class='bg-blue-colored'>
        <h1 class="bg-gray-700 text-2xl text-zinc-200" >E-mail Verification</h1>
        <br>
        <h3>Hello sir <i>{{ .Name }}</i></h3> 
        <div>
        Please, verification your account follow into <a href="https://www.google.co.th">Link</a>
        </div>
    </div>

</body>
</html>